<header>
    <nav class="pl-4 py-2 bg-gray-100 flex items-center justify-between">
        <a class="text-3xl" href="/">EJS</a>
        <ul class="flex space-x-5 mr-5">
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>
</header>